In [1]:
import warnings

import numpy as np
import pandas as pd
from pydub import AudioSegment

warnings.filterwarnings("ignore")
# pd.set_option("display.max_rows", 120)

In [2]:
sound = AudioSegment.from_file("Compradior_OS/data/annkw220116.mp3", format="mp3")
len(sound)

7200000

In [3]:
df = pd.read_csv('Compradior_OS/data/count_annkw220116.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df = df[0:120]
df.reset_index(inplace=True, drop=True)
df

              created_at  counts
0    2022-01-16 01:01:00     309
1    2022-01-16 01:02:00     122
2    2022-01-16 01:03:00     213
3    2022-01-16 01:04:00     237
4    2022-01-16 01:05:00     174
..                   ...     ...
115  2022-01-16 02:56:00      45
116  2022-01-16 02:57:00      37
117  2022-01-16 02:58:00     263
118  2022-01-16 02:59:00     241
119  2022-01-16 03:00:00      76

[120 rows x 2 columns]

In [4]:
#1
sections = []

sections.append([])
for i in range(39):
  sections[0].append(i)
  i += 1

sections.append([])
for i in range(39, 47):
  sections[1].append(i)
  i += 1

sections.append([])
for i in range(47, 61):
  sections[2].append(i)
  i += 1

sections.append([])
for i in range(61, 72):
  sections[3].append(i)
  i += 1

sections.append([])
for i in range(72, 92):
  sections[4].append(i)
  i += 1

sections.append([])
for i in range(92, 106):
  sections[5].append(i)
  i += 1

sections.append([])
for i in range(106, 120):
  sections[6].append(i)
  i += 1

sections

[[0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38],
 [39, 40, 41, 42, 43, 44, 45, 46],
 [47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71],
 [72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91],
 [92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105],
 [106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119]]

In [5]:
# 2
averages  = []
for i in range(len(sections)):
  sum = 0
  for j in sections[i]:
    sum += df['counts'][j]
  ave  = sum / len(sections[i])
  averages.append(ave)
averages

[114.3076923076923,
 18.5,
 91.14285714285714,
 26.454545454545453,
 89.8,
 66.57142857142857,
 101.35714285714286]

In [6]:
# 3
averages_df = pd.DataFrame(averages)
q1 = averages_df.quantile(0.25)[0]
q1

46.51298701298701

In [7]:
# 4
P = {}
Q = {}
for i in range(len(sections)):
  if averages[i] > q1:
    P[i] = sections[i]
  else:
    Q[i] = sections[i]
t_p = 0
t_q = 0
for key in P:
  t_p += len(P[key])
for key in Q:
  t_q += len(Q[key])
t_b = t_p + t_q
t_p, t_q, t_b

(101, 19, 120)

In [8]:
# 5
t_l = 60
s_q = t_b/t_l + 10
s_p = t_p / (t_l - t_q/s_q)
s_p

1.7289586305278175

In [9]:
# 6
a_df = df.copy()
for key in Q:
  for i in Q[key]:
    df.drop(i, inplace=True)
df_r = df.reset_index()
df_r

     index           created_at  counts
0        0  2022-01-16 01:01:00     309
1        1  2022-01-16 01:02:00     122
2        2  2022-01-16 01:03:00     213
3        3  2022-01-16 01:04:00     237
4        4  2022-01-16 01:05:00     174
..     ...                  ...     ...
96     115  2022-01-16 02:56:00      45
97     116  2022-01-16 02:57:00      37
98     117  2022-01-16 02:58:00     263
99     118  2022-01-16 02:59:00     241
100    119  2022-01-16 03:00:00      76

[101 rows x 3 columns]

In [10]:
# 6
description = df_r.describe()
median = int(description.loc['50%'][1])
median

84

In [11]:
description

            index      counts
count  101.000000  101.000000
mean    60.138614   97.831683
std     37.552638   54.043514
min      0.000000   33.000000
25%     25.000000   63.000000
50%     58.000000   84.000000
75%     94.000000  112.000000
max    119.000000  309.000000

In [12]:
# 7
PP = {}
PQ = {}
for i in range(len(df_r)):
    if int(df_r['counts'][i]) > median:
        PP[i] = df_r['index'][i]
    else:
        PQ[i] = df_r['index'][i]
t_pp = len(PP)
t_pq = len(PQ)
t_pb = t_pp + t_pq
t_pp, t_pq, t_pb

(50, 51, 101)

In [13]:
# 8
s_pq = s_p + 0.5
s_pp = t_pp/(t_l - t_q/s_q - t_pq/s_pq)
s_pp, s_pq, s_q

(1.4070228072768969, 2.2289586305278175, 12.0)

In [14]:
seconds_ary = []
for i in range(120):
    a = (i+1) * 60 * 1000
    seconds_ary.append(a)

sec = pd.Series(seconds_ary).astype(int)

a_df['seconds'] = sec

In [15]:
spr = []
start = 0
for i in range(120):
    lmt = int(a_df['seconds'][i])
    spr.append(sound[start:lmt])
    start = int(a_df['seconds'][i])

In [16]:
speed_df = pd.DataFrame(columns=['id', 'speed'])

In [17]:
for key in PP:
    id = PP[key]
    speed = s_pp
    if speed <= 1:
        continue
    else:
        spr[id] = spr[id].speedup(playback_speed=speed, crossfade=0)
        speed_df = speed_df.append({'id': id, 'speed': speed}, ignore_index=True)

In [18]:
for key in PQ:
    id = PQ[key]
    speed = s_pq
    if speed <= 1:
        continue
    else:
        spr[id] = spr[id].speedup(playback_speed=speed, crossfade=0)
        speed_df = speed_df.append({'id': id, 'speed': speed}, ignore_index=True)

In [19]:
for key in Q:
    for id in Q[key]:
        speed = s_q
        if speed <= 1:
            continue
        else:
            spr[id] = spr[id].speedup(playback_speed=speed, crossfade=0)
            speed_df = speed_df.append({'id': id, 'speed': speed}, ignore_index=True)

In [20]:
compressed_sound = spr[0]
for i in range(1, 119):
    compressed_sound += spr[i]
compressed_sound.export("algo2.mp3", format="mp3")

In [21]:
len(compressed_sound)

3575000

In [22]:
speed_df.sort_values(by='id')

        id     speed
0      0.0  1.407023
1      1.0  1.407023
2      2.0  1.407023
3      3.0  1.407023
4      4.0  1.407023
..     ...       ...
98   115.0  2.228959
99   116.0  2.228959
48   117.0  1.407023
49   118.0  1.407023
100  119.0  2.228959

[120 rows x 2 columns]